@media (min-width: 320px) and (max-width: 480px) {
  .ui.secondary.menu.custom-header {
    max-width: 100% !important;
    margin: 0;
  }
  .list-products {
    max-width: 100% !important;
    min-height: 100%;
    margin: 0;
    padding: 1em 0.5em 0 0.5em;
    background-color: #fff;
  }
  .section-search {
    width: 58%;
  }
  .section-filter {
    width: 38%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .detail-product {
    max-width: 100% !important;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }
  .search-sort-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-search {
    width: 100%;
  }
  .section-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .ui.card>.content>.meta+.description {
    min-height: 3em;
  }
  .ui.card>.content>.header:not(.ui) {
    min-height: 2.5em;
  }
}